:root {
  --color-grey: hsl(0, 0%, 20%);
  --color-dark-grey: hsl(0, 0%, 12%);
  --color-neon-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 8%);
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%; 
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", "Arial";
  background-color: var(--color-black);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7;
}

h1,
p {
  margin: 0;
  overflow-wrap: break-word;
}

a,
a:active {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}


.wrapper {
  width: 90%;
  max-width: 24rem;
  background-color: var(--color-dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2.5rem;
}

.profile-pic img {
  border-radius: 50%;
  width: 88px;
  height: 88px;
}

.main-text {
  margin: 1.5rem 0;
  align-items: center;
}

.name {
  color: var(--color-white);
  font-size: 24px;
}

.location {
  color: var(--color-neon-green);
  font-weight: 600;
}

.bio {
  margin-bottom: 1.5rem;
  color: var(--color-white);
}

.social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social-links a {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 8px;
  background-color: var(--color-grey);
  font-weight: 700;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--color-neon-green);
  color: var(--color-dark-grey);
}
